.Card{
    text-align: center;
    margin-left: 150px;
    margin-top: 70px;
  
}
.Card img{
    margin-top: 25px;
    width: 600px;
}

.Card button{
    
    background: linear-gradient(90deg, rgba(19, 173, 199, 1) 0%, rgba(105, 120, 209, 1) 50%, rgba(148, 93, 214, 1) 100%);
    border-radius: 30px;
    border: 0px;
    margin-bottom: 50px;
    }
    .Apresentacao button:hover{
        color:aliceblue;
        background-color: #d3d3d3;
        transform: translateY(-7px);
        filter: drop-shadow(0px 4px 4px rgba(0,0, 0.25, 0.25));
        box-shadow: 5px 5px 10px #d3d3d3
    }